# Игнорировать сборочные папки
bin/
obj/

# Игнорировать пользовательские файлы Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Игнорировать файлы кэширования и временные файлы Visual Studio
.vscode/
.idea/
.vs/
.vscode/
*.vscode
*.tlog
*.log
*.ide
.ipch
*.pdb
*.opendb
*.sln.cache

# Игнорировать файлы зависимостей и сборок
*.dll
*.exe
*.app
*.lib
*.out
*.log
*.vsix
*.nupkg

# Игнорировать временные файлы
*.tmp
*.temp
*.cache
*.diff
*.patch

# Игнорировать файлы тестирования и отчетов
TestResults/
*.coverage
*.coveragexml
*.trx
*.testsettings
*.vsmdi
*.tss

# Игнорировать конфигурационные файлы, специфичные для среды
*.config
*.cfg
*.ini

# Игнорировать артефакты сборки .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Игнорировать файлы NuGet
*.nupkg
*.snupkg
.nuget/
packages/
NuGet.Config
NuGet.exe
NuGetScratch/

# Игнорировать файлы, связанные с ReSharper и Rider
_ReSharper*/
*.DotSettings.user
.idea/

# Игнорировать файлы Azure Functions
local.settings.json
AzureFunctionAppLogs/

# Игнорировать файлы публикации
publish/
