@* _CalcLink.cshtml *@
<a asp-controller="Calc" asp-action="Index" asp-route-operation="+">Sum</a> |
<a asp-controller="Calc" asp-action="Index" asp-route-operation="-">Sub</a> |
<a asp-controller="Calc" asp-action="Index" asp-route-operation="*">Mul</a> |
<a asp-controller="Calc" asp-action="Index" asp-route-operation="/">Div</a>
