<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start/Index</title>
</head>
<body>
    <h1>
        Start/Index
    </h1>
    <div>
        <a href="Start/One">
            One
        </a>
    </div>
    <div>
        <a href="Start/Two">
            Two
        </a>
    </div>
    <div>
        <a href="Start/Three">
            Three
        </a>
    </div>
</body>
</html>
